.webicons{
width:16px;
margin:0;
padding:0;
}

.contentHeader{
background:#212121;
color:white;
}

.contentBackground{
background:#F3EEDB;
}

.imageContent{
width:128px;
box-shadow:none;
}

.contentText{
font-size:25px;
line-height:40px;
}

.aboutMeHeader{
font-size:18px;
margin-bottom:10px;
}

.aboutContent{
margin-bottom:10px;
}

.quoteAuthor{
font-weight:bold;
float:right;
margin-right:30px;
}
